<!DOCTYPE html>
<html>
  <head>
    <title>weather Web Interface</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  
  <body ng-app="myApp" ng-controller="myCtrl">
    <div class="infobox-background" ng-show="!online || showoutput" id="offline">Connecting</div>

    <div class="interface-box">
      <h1>weather</h1>
      <p></p>
    </div>

    
    <div class="component-box signal-box" id="signal-box-current_time">
        <h3 class="component-title signal-title">Signal: current_time</h3>
        <div class="component-doc signal-doc">
<p>Once in a while (at intervals decided by the provider) the current date
and time will be published.  (Mostly for example purposes).</p>
        
        </div>
        <div class="last-received signal-value">
        
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">current_time</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="signals.current_time.received.current_time" />
         
      </td>
    </tr>
  
  </table>
        </div>
    </div>
    

    
    <div class="component-box prop-box" id="prop-box-location">
        <h3 class="component-title prop-title">Property: location</h3>
        <div class="component-doc prop-doc">
<p>Weather will be retrieved for the provided location.</p>
        
        </div>
        <div class="last-received property-value">
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">latitude</td>
      <td class="argvalue">
        
        <input type="text" ng-model="properties.location.received.latitude" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">longitude</td>
      <td class="argvalue">
        
        <input type="text" ng-model="properties.location.received.longitude" />
         
      </td>
    </tr>
  
  </table>
        </div>
        
        <input type="button" value="Update" ng-click="updateProperty('location')" />
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-current_temperature">
        <h3 class="component-title prop-title">Property: current_temperature</h3>
        <div class="component-doc prop-doc">
<p>This is the current (estimated) temperature in degrees fahrenheit.  This values
is regularly updated.  The value is extrapolated from the hourly forecast, but
adjusted based on the latest conditions at the nearest weather station.</p>
        
        </div>
        <div class="last-received property-value">
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">temperature_f</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.current_temperature.received.temperature_f" />
         
      </td>
    </tr>
  
  </table>
        </div>
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-current_condition">
        <h3 class="component-title prop-title">Property: current_condition</h3>
        <div class="component-doc prop-doc">
<p>This is the current weather outside.  This comes from the hourly forecast and is
updated about once per hour.</p>
        
        </div>
        <div class="last-received property-value">
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">condition</td>
      <td class="argvalue">
        
        <span ng-bind="properties.current_condition.received.condition"></span>
        <select disabled ng-model="properties.current_condition.received.condition" ng-options="n.id as n.name for n in enums.weather_condition track by n.id">
        </select>
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">description</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.current_condition.received.description" />
         
      </td>
    </tr>
  
  </table>
        </div>
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-daily_forecast">
        <h3 class="component-title prop-title">Property: daily_forecast</h3>
        <div class="component-doc prop-doc">
<p>This contains the weather forecast for each day of the next few days.  It is updated
a couple of times a day.  The current day may not have the high or low temperature
provided.  This is an example which shows only a few days.  The actual implementation
will have a value for each day of the week.</p>
        
        </div>
        <div class="last-received property-value">
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">monday</td>
      <td class="argvalue">
        
        <div class="struct-arg">
          
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">high_temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.monday.high_temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">low_temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.monday.low_temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">condition</td>
      <td class="argvalue">
        
        <span ng-bind="properties.daily_forecast.received.monday.condition"></span>
        <select disabled ng-model="properties.daily_forecast.received.monday.condition" ng-options="n.id as n.name for n in enums.weather_condition track by n.id">
        </select>
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">start_time</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.monday.start_time" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">end_time</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.monday.end_time" />
         
      </td>
    </tr>
  
  </table>
        </div>
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">tuesday</td>
      <td class="argvalue">
        
        <div class="struct-arg">
          
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">high_temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.tuesday.high_temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">low_temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.tuesday.low_temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">condition</td>
      <td class="argvalue">
        
        <span ng-bind="properties.daily_forecast.received.tuesday.condition"></span>
        <select disabled ng-model="properties.daily_forecast.received.tuesday.condition" ng-options="n.id as n.name for n in enums.weather_condition track by n.id">
        </select>
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">start_time</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.tuesday.start_time" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">end_time</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.tuesday.end_time" />
         
      </td>
    </tr>
  
  </table>
        </div>
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">wednesday</td>
      <td class="argvalue">
        
        <div class="struct-arg">
          
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">high_temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.wednesday.high_temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">low_temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.wednesday.low_temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">condition</td>
      <td class="argvalue">
        
        <span ng-bind="properties.daily_forecast.received.wednesday.condition"></span>
        <select disabled ng-model="properties.daily_forecast.received.wednesday.condition" ng-options="n.id as n.name for n in enums.weather_condition track by n.id">
        </select>
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">start_time</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.wednesday.start_time" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">end_time</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.daily_forecast.received.wednesday.end_time" />
         
      </td>
    </tr>
  
  </table>
        </div>
         
      </td>
    </tr>
  
  </table>
        </div>
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-hourly_forecast">
        <h3 class="component-title prop-title">Property: hourly_forecast</h3>
        <div class="component-doc prop-doc">
<p>This contains the weather forecast for each hour of the next 24 hours.  The data source
us updated a couple of times per day, but this API property is updated every hour on the
hour.</p>
        
        </div>
        <div class="last-received property-value">
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">hour_0</td>
      <td class="argvalue">
        
        <div class="struct-arg">
          
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.hourly_forecast.received.hour_0.temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">starttime</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.hourly_forecast.received.hour_0.starttime" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">condition</td>
      <td class="argvalue">
        
        <span ng-bind="properties.hourly_forecast.received.hour_0.condition"></span>
        <select disabled ng-model="properties.hourly_forecast.received.hour_0.condition" ng-options="n.id as n.name for n in enums.weather_condition track by n.id">
        </select>
         
      </td>
    </tr>
  
  </table>
        </div>
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">hour_1</td>
      <td class="argvalue">
        
        <div class="struct-arg">
          
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.hourly_forecast.received.hour_1.temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">starttime</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.hourly_forecast.received.hour_1.starttime" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">condition</td>
      <td class="argvalue">
        
        <span ng-bind="properties.hourly_forecast.received.hour_1.condition"></span>
        <select disabled ng-model="properties.hourly_forecast.received.hour_1.condition" ng-options="n.id as n.name for n in enums.weather_condition track by n.id">
        </select>
         
      </td>
    </tr>
  
  </table>
        </div>
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">hour_2</td>
      <td class="argvalue">
        
        <div class="struct-arg">
          
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.hourly_forecast.received.hour_2.temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">starttime</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.hourly_forecast.received.hour_2.starttime" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">condition</td>
      <td class="argvalue">
        
        <span ng-bind="properties.hourly_forecast.received.hour_2.condition"></span>
        <select disabled ng-model="properties.hourly_forecast.received.hour_2.condition" ng-options="n.id as n.name for n in enums.weather_condition track by n.id">
        </select>
         
      </td>
    </tr>
  
  </table>
        </div>
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">hour_3</td>
      <td class="argvalue">
        
        <div class="struct-arg">
          
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">temperature</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.hourly_forecast.received.hour_3.temperature" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">starttime</td>
      <td class="argvalue">
        
        <input disabled type="text" ng-model="properties.hourly_forecast.received.hour_3.starttime" />
         
      </td>
    </tr>
  
    <tr class="argrow">
      <td class="argname">condition</td>
      <td class="argvalue">
        
        <span ng-bind="properties.hourly_forecast.received.hour_3.condition"></span>
        <select disabled ng-model="properties.hourly_forecast.received.hour_3.condition" ng-options="n.id as n.name for n in enums.weather_condition track by n.id">
        </select>
         
      </td>
    </tr>
  
  </table>
        </div>
         
      </td>
    </tr>
  
  </table>
        </div>
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-current_condition_refresh_interval">
        <h3 class="component-title prop-title">Property: current_condition_refresh_interval</h3>
        <div class="component-doc prop-doc">
<p>This is the maximum interval, in seconds, that the latest weather conditions at the nearest weather
station are retrieved.</p>
        
        </div>
        <div class="last-received property-value">
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">seconds</td>
      <td class="argvalue">
        
        <input type="text" ng-model="properties.current_condition_refresh_interval.received.seconds" />
         
      </td>
    </tr>
  
  </table>
        </div>
        
        <input type="button" value="Update" ng-click="updateProperty('currentConditionRefreshInterval')" />
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-hourly_forecast_refresh_interval">
        <h3 class="component-title prop-title">Property: hourly_forecast_refresh_interval</h3>
        <div class="component-doc prop-doc">
<p>This is the maximum interval, in seconds, that the hourly forecast data is retrieved.</p>
        
        </div>
        <div class="last-received property-value">
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">seconds</td>
      <td class="argvalue">
        
        <input type="text" ng-model="properties.hourly_forecast_refresh_interval.received.seconds" />
         
      </td>
    </tr>
  
  </table>
        </div>
        
        <input type="button" value="Update" ng-click="updateProperty('hourlyForecastRefreshInterval')" />
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-daily_forecast_refresh_interval">
        <h3 class="component-title prop-title">Property: daily_forecast_refresh_interval</h3>
        <div class="component-doc prop-doc">
<p>This is the maximum interval, in seconds, that the daily forecast data is retrieved.</p>
        
        </div>
        <div class="last-received property-value">
          
  <table class="arglist">
  
    <tr class="argrow">
      <td class="argname">seconds</td>
      <td class="argvalue">
        
        <input type="text" ng-model="properties.daily_forecast_refresh_interval.received.seconds" />
         
      </td>
    </tr>
  
  </table>
        </div>
        
        <input type="button" value="Update" ng-click="updateProperty('dailyForecastRefreshInterval')" />
        
    </div>
     

    
    <div class="component-box method-box" id="method-box-refresh_daily_forecast">
        <h3 class="component-title method-title">Method: refresh_daily_forecast</h3>
        <div class="component-doc method-doc">
<p>When called, this method will force the retrieval of the daily weather forecast from
the NWS weather API.  </p>
<p>When called, the <code>daily_forecast</code> API property will be republished with the latest data.</p>
<p>This method has no arguments and provides no return values.</p>
        
        </div>
        <div class="method-form-box">
            <form ng-submit="refresh_daily_forecastMethodCall()">
                
  <table class="arglist">
  
  </table>
                <button type="submit">Call refresh_daily_forecast</button>
            </form>
        </div>
        <div class="last-received method-response" ng-bind="methods['refresh_daily_forecast'].received">
        
  <table class="arglist">
  
  </table>
        </div>
    </div>
    
    <div class="component-box method-box" id="method-box-refresh_hourly_forecast">
        <h3 class="component-title method-title">Method: refresh_hourly_forecast</h3>
        <div class="component-doc method-doc">
<p>When called, this method will force the retrieval of the hourly weather forecast from
the NWS weather API.  </p>
<p>When called, the <code>hourly_forecast</code> API property will be republished with the latest data.</p>
<p>This method has no arguments and provides no return values.</p>
        
        </div>
        <div class="method-form-box">
            <form ng-submit="refresh_hourly_forecastMethodCall()">
                
  <table class="arglist">
  
  </table>
                <button type="submit">Call refresh_hourly_forecast</button>
            </form>
        </div>
        <div class="last-received method-response" ng-bind="methods['refresh_hourly_forecast'].received">
        
  <table class="arglist">
  
  </table>
        </div>
    </div>
    
    <div class="component-box method-box" id="method-box-refresh_current_conditions">
        <h3 class="component-title method-title">Method: refresh_current_conditions</h3>
        <div class="component-doc method-doc">
<p>When called, this method will force the retrieval of the latest weather conditions
from the nearest weather station.  It also forces a re-calculation of the current
temperature.</p>
<p>When called, the <code>current_temperature</code> and <code>current_condition</code> API properties are
republished with the latest value.</p>
<p>This method has no arguments and provides no return values.</p>
        
        </div>
        <div class="method-form-box">
            <form ng-submit="refresh_current_conditionsMethodCall()">
                
  <table class="arglist">
  
  </table>
                <button type="submit">Call refresh_current_conditions</button>
            </form>
        </div>
        <div class="last-received method-response" ng-bind="methods['refresh_current_conditions'].received">
        
  <table class="arglist">
  
  </table>
        </div>
    </div>
     

    
    <div id="console" ng-class="{ 'expanded' : (console.showing) }">
      <div class="top" ng-click=" console.showing = !console.showing ">Request Console <span ng-show="console.showing && console.requests.length > 0" ng-click="console.requests = []"> - Clear</span>
        <p class="expanded-toggle">{{ console.showing ? 'Hide' : 'Show' }}</p>
      </div>
      <div id="request-list">
        <p ng-repeat="msg in console.requests" class="entry">
          <strong>{{msg.name}}:</strong> <em>{{msg.topic}}</em> <span class="elapsedTime" ng-show="msg.responseTime">{{msg.responseTime - msg.requestTime}}ms</span><span class="elapsedTime" ng-show="msg.eventTime">{{msg.eventTime}}</span>
          <span class="outgoing" ng-show="msg.payload">{{msg.payload}}</span>
          <span class="incoming" ng-show="msg.response">{{msg.response}}</span>
          <span ng-repeat="result in msg.results" class="action-result">{{result}}</span>
        </p>
      </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://unpkg.com/mqtt@5.14.0/dist/mqtt.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>