
#pragma once
#include <string>
#include "enums.hpp"

{%for method_name, method in stinger.methods.items()%}
{%-if method.return_value_type == 'struct'%}
struct {{method.return_value_name | UpperCamelCase}} {
{%-for rv in method.return_value %}
    {{rv.cpp_temp_type}} {{rv.name}};
{%-endfor%}
};
{%endif%}
{%-endfor%}