
#pragma once
#include <string>
#include <boost/optional.hpp>
#include "enums.hpp"

{%for istruct_name, istruct in stinger.structs.items() %}
struct {{istruct_name | UpperCamelCase }} {
    {%-for value in istruct.members %}
    {{value.cpp_temp_type}} {{value.name}};
    {%-endfor%}
};
{%endfor%}
