
use {{stinger.name | snake_case}}_server::{{stinger.name}}Server;
use connection::Connection;


fn main() {
    {%set broker = stinger.get_example_broker()%}
    let connection = Connection::new_{{broker.class_name|snake_case}}({%if broker.hostname is none%}String::from("localhost"){%if broker.port is none%}, {%endif%}{%endif%}{%if broker.port is none%}1883{%endif%});
    let mut server = {{stinger.name}}Server::new(connection);
    {%for sig_name, sig in stinger.signals.items()%}
    server.emit_{{sig_name|snake_case}}({%for arg in sig.arg_list%}{{arg.get_random_example_value(lang="rust")}}{%if not loop.last%}, {%endif%}{%endfor%});
    {%endfor%}

}
