
use {{stinger.name | snake_case}}_server::{{stinger.name}}Server;
use connection::Connection;


fn main() {
    {%set broker = stinger.get_example_broker()%}
    let connection = Connection::new(String::from("tcp://{%if broker.hostname is none%}localhost{%else%}{{broker.hostname}}{%endif%}:1883"));
    let mut server = {{stinger.name}}Server::new(connection);
    {%for sig_name, sig in stinger.signals.items()%}
    server.emit_{{sig_name|snake_case}}({%for arg in sig.arg_list%}{{arg.get_random_example_value(lang="rust")}}{%if not loop.last%}, {%endif%}{%endfor%});
    {%endfor%}

}
