
# Python
__pycache__

# Rust
stingeripc/templates/rust/**/target
example_interfaces/*/output/rust/target/
example_interfaces/*/output/rust/**/target/
Cargo.lock

# CPP
example_interfaces/*/output/cpp/build/*

.vscode/