<!DOCTYPE html>
<html>
  <head>
    <title>Standalone Devices (Demo)</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <div class="infobox-background" ng-show="!online || showoutput" id="offline">Connecting</div>

    <div class="interface-box">
      <h1>Full</h1>
      <p></p>
    </div>

    
    <div class="component-box signal-box" id="signal-box-todayIs">
        <h3 class="component-title signal-title">Signal: todayIs</h3>
        <div class="component-doc signal-doc">
        </div>
        <div class="last-signal-value" ng-bind="signals['todayIs'].received"></div>
    </div>
    

    
    <div class="component-box prop-box" id="prop-box-favorite_number">
        <h3 class="component-title prop-title">Property: favorite_number</h3>
        <div class="component-doc prop-doc">
<p>My favorite number</p>
        
        </div>
        <div class="last-received property-value">
          
            <div class="arg prop-arg">
                <label for="favorite_number-arg-number">number</label>
                <input type="text" id="favorite_number-arg-number" ng-model="properties['favoriteNumber'].received['number']" />
            </div>
          
        </div>
        
        <input type="button" value="Update" ng-click="updateProperty('favoriteNumber')" />
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-favorite_foods">
        <h3 class="component-title prop-title">Property: favorite_foods</h3>
        <div class="component-doc prop-doc">
        </div>
        <div class="last-received property-value">
          
            <div class="arg prop-arg">
                <label for="favorite_foods-arg-drink">drink</label>
                <input type="text" id="favorite_foods-arg-drink" ng-model="properties['favoriteFoods'].received['drink']" />
            </div>
          
            <div class="arg prop-arg">
                <label for="favorite_foods-arg-slices_of_pizza">slices_of_pizza</label>
                <input type="text" id="favorite_foods-arg-slices_of_pizza" ng-model="properties['favoriteFoods'].received['slices_of_pizza']" />
            </div>
          
            <div class="arg prop-arg">
                <label for="favorite_foods-arg-breakfast">breakfast</label>
                <input type="text" id="favorite_foods-arg-breakfast" ng-model="properties['favoriteFoods'].received['breakfast']" />
            </div>
          
        </div>
        
        <input type="button" value="Update" ng-click="updateProperty('favoriteFoods')" />
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-lunch_menu">
        <h3 class="component-title prop-title">Property: lunch_menu</h3>
        <div class="component-doc prop-doc">
        </div>
        <div class="last-received property-value">
          
            <div class="arg prop-arg">
                <label for="lunch_menu-arg-monday">monday</label>
                <input type="text" id="lunch_menu-arg-monday" ng-model="properties['lunchMenu'].received['monday']" />
            </div>
          
            <div class="arg prop-arg">
                <label for="lunch_menu-arg-tuesday">tuesday</label>
                <input type="text" id="lunch_menu-arg-tuesday" ng-model="properties['lunchMenu'].received['tuesday']" />
            </div>
          
        </div>
        
        <input type="button" value="Update" ng-click="updateProperty('lunchMenu')" />
        
    </div>
     

    
    <div class="component-box method-box" id="method-box-addNumbers">
        <h3 class="component-title method-title">Method: addNumbers</h3>
        <div class="component-doc method-doc">
        </div>
        <div class="method-form-box">
            <form ng-submit="addNumbersMethodCall()">
                
                <div class="method-arg">
                    <label for="add_numbers-arg-first">first (ArgPrimitiveType.INTEGER)</label>
                    <input type="text" id="add_numbers-arg-first" ng-model="methods['addNumbers'].args['first']" />
                </div>
                
                <div class="method-arg">
                    <label for="add_numbers-arg-second">second (ArgPrimitiveType.INTEGER)</label>
                    <input type="text" id="add_numbers-arg-second" ng-model="methods['addNumbers'].args['second']" />
                </div>
                
                <div class="method-arg">
                    <label for="add_numbers-arg-third">third (ArgPrimitiveType.INTEGER)</label>
                    <input type="text" id="add_numbers-arg-third" ng-model="methods['addNumbers'].args['third']" />
                </div>
                
                <button type="submit">Call addNumbers</button>
            </form>
        </div>
        <div class="last-method-response" ng-bind="methods['addNumbers'].received"></div>
    </div>
    
    <div class="component-box method-box" id="method-box-doSomething">
        <h3 class="component-title method-title">Method: doSomething</h3>
        <div class="component-doc method-doc">
        </div>
        <div class="method-form-box">
            <form ng-submit="doSomethingMethodCall()">
                
                <div class="method-arg">
                    <label for="do_something-arg-aString">aString (ArgPrimitiveType.STRING)</label>
                    <input type="text" id="do_something-arg-aString" ng-model="methods['doSomething'].args['aString']" />
                </div>
                
                <button type="submit">Call doSomething</button>
            </form>
        </div>
        <div class="last-method-response" ng-bind="methods['doSomething'].received"></div>
    </div>
     

    
    <div id="console" ng-class="{ 'expanded' : (console.showing) }">
      <div class="top" ng-click=" console.showing = !console.showing ">Request Console <span ng-show="console.showing && console.requests.length > 0" ng-click="console.requests = []"> - Clear</span>
        <p class="expanded-toggle">{{ console.showing ? 'Hide' : 'Show' }}</p>
      </div>
      <div id="request-list">
        <p ng-repeat="msg in console.requests" class="entry">
          <strong>{{msg.name}}:</strong> <em>{{msg.topic}}</em> <span class="elapsedTime" ng-show="msg.responseTime">{{msg.responseTime - msg.requestTime}}ms</span><span class="elapsedTime" ng-show="msg.eventTime">{{msg.eventTime}}</span>
          <span class="outgoing" ng-show="msg.payload">{{msg.payload}}</span>
          <span class="incoming" ng-show="msg.response">{{msg.response}}</span>
          <span ng-repeat="result in msg.results" class="action-result">{{result}}</span>
        </p>
      </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://unpkg.com/mqtt@5.14.0/dist/mqtt.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>