<!DOCTYPE html>
<html>
  <head>
    <title>Fully Featured Example Interface Web Interface</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  
  <body ng-app="myApp" ng-controller="myCtrl">
    <div class="infobox-background" ng-show="!online || showoutput" id="offline">Connecting</div>

    <div class="interface-box">
      <h1>Fully Featured Example Interface</h1>
      <p id="interface-summary"><i>Example StingerAPI interface which demonstrates most features.</i></p>
      <p id="interface-doc">
      
      </p>
    </div>
    <!------------- SIGNALS ------------->
    
    <div class="component-box signal-box" id="signal-box-todayIs">
        <h3 class="component-title signal-title">Signal: todayIs</h3>
        <div class="component-doc signal-doc">
        </div>
        <div class="last-received signal-value">
        
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">dayOfMonth</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input disabled type="text" ng-model="signals.today_is.received.dayOfMonth" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">dayOfWeek</div>
                
              </td>
              <td class="arg-value-cell">
                
                <select disabled ng-model="signals.today_is.received.dayOfWeek" ng-options="n.id as n.name for n in enums.day_of_the_week">
                </select>
                 
              </td>
            </tr>
          
          </table>
        </div>
    </div>
    

    <!------------- PROPERTIES ------------->
    
    <div class="component-box prop-box" id="prop-box-favorite_number">
        <h3 class="component-title prop-title">Property: favorite_number</h3>
        <div class="component-doc prop-doc">
<p>My favorite number</p>
        
        </div>
        <div class="last-received property-value">
          
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">number</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.favorite_number.received.number" />
                 
              </td>
            </tr>
          
          </table>
        </div>
        
        <input type="button" class="publish-button" value="Update" ng-click="updateProperty(properties.favorite_number)" />
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-favorite_foods">
        <h3 class="component-title prop-title">Property: favorite_foods</h3>
        <div class="component-doc prop-doc">
        </div>
        <div class="last-received property-value">
          
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">drink</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.favorite_foods.received.drink" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">slices_of_pizza</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.favorite_foods.received.slices_of_pizza" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">breakfast</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.favorite_foods.received.breakfast" />
                 
              </td>
            </tr>
          
          </table>
        </div>
        
        <input type="button" class="publish-button" value="Update" ng-click="updateProperty(properties.favorite_foods)" />
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-lunch_menu">
        <h3 class="component-title prop-title">Property: lunch_menu</h3>
        <div class="component-doc prop-doc">
        </div>
        <div class="last-received property-value">
          
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">monday</div>
                
              </td>
              <td class="arg-value-cell">
                
                <div class="struct-arg">
                  
                  
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">drink</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.lunch_menu.received.monday.drink" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">sandwich</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.lunch_menu.received.monday.sandwich" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">crackers</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.lunch_menu.received.monday.crackers" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">day</div>
                
              </td>
              <td class="arg-value-cell">
                
                <select ng-model="properties.lunch_menu.received.monday.day" ng-options="n.id as n.name for n in enums.day_of_the_week">
                </select>
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">order_number</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.lunch_menu.received.monday.order_number" />
                 
              </td>
            </tr>
          
          </table>
                </div>
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">tuesday</div>
                
              </td>
              <td class="arg-value-cell">
                
                <div class="struct-arg">
                  
                  
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">drink</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.lunch_menu.received.tuesday.drink" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">sandwich</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.lunch_menu.received.tuesday.sandwich" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">crackers</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.lunch_menu.received.tuesday.crackers" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">day</div>
                
              </td>
              <td class="arg-value-cell">
                
                <select ng-model="properties.lunch_menu.received.tuesday.day" ng-options="n.id as n.name for n in enums.day_of_the_week">
                </select>
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">order_number</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.lunch_menu.received.tuesday.order_number" />
                 
              </td>
            </tr>
          
          </table>
                </div>
                 
              </td>
            </tr>
          
          </table>
        </div>
        
        <input type="button" class="publish-button" value="Update" ng-click="updateProperty(properties.lunch_menu)" />
        
    </div>
    
    <div class="component-box prop-box" id="prop-box-family_name">
        <h3 class="component-title prop-title">Property: family_name</h3>
        <div class="component-doc prop-doc">
<p>This is to test a property with a single string value.</p>
        
        </div>
        <div class="last-received property-value">
          
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">family_name</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="properties.family_name.received.family_name" />
                 
              </td>
            </tr>
          
          </table>
        </div>
        
        <input type="button" class="publish-button" value="Update" ng-click="updateProperty(properties.family_name)" />
        
    </div>
     

    <!------------- METHODS ------------->
    
    <div class="component-box method-box" id="method-box-addNumbers">
        <h3 class="component-title method-title">Method: addNumbers</h3>
        <div class="component-doc method-doc">
        </div>
        <div class="method-form-box">
            <form ng-submit="callMethod(methods.add_numbers)">
                
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">first</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="methods.add_numbers.args.first" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">second</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="methods.add_numbers.args.second" />
                 
              </td>
            </tr>
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">third</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="methods.add_numbers.args.third" />
                 
              </td>
            </tr>
          
          </table>
                <button type="submit" class="publish-button">Call addNumbers</button>
            </form>
        </div>
        <div class="last-received method-response" ng-bind="methods['addNumbers'].received">
        
          <table class="arglist">
          
          </table>
        </div>
    </div>
    
    <div class="component-box method-box" id="method-box-doSomething">
        <h3 class="component-title method-title">Method: doSomething</h3>
        <div class="component-doc method-doc">
        </div>
        <div class="method-form-box">
            <form ng-submit="callMethod(methods.do_something)">
                
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">aString</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="methods.do_something.args.aString" />
                 
              </td>
            </tr>
          
          </table>
                <button type="submit" class="publish-button">Call doSomething</button>
            </form>
        </div>
        <div class="last-received method-response" ng-bind="methods['doSomething'].received">
        
          <table class="arglist">
          
          </table>
        </div>
    </div>
    
    <div class="component-box method-box" id="method-box-echo">
        <h3 class="component-title method-title">Method: echo</h3>
        <div class="component-doc method-doc">
<p>Echo back the received message.</p>
        
        </div>
        <div class="method-form-box">
            <form ng-submit="callMethod(methods.echo)">
                
          <table class="arglist">
          
            <tr class="argrow">
              <td class="arg-name-cell">
                <div class="arg-name">message</div>
                
              </td>
              <td class="arg-value-cell">
                
                <input type="text" ng-model="methods.echo.args.message" />
                 
              </td>
            </tr>
          
          </table>
                <button type="submit" class="publish-button">Call echo</button>
            </form>
        </div>
        <div class="last-received method-response" ng-bind="methods['echo'].received">
        
          <table class="arglist">
          
          </table>
        </div>
    </div>
     

    
    <div id="console" ng-class="{ 'expanded' : (console.showing) }">
      <div class="top" ng-click=" console.showing = !console.showing ">Request Console <span ng-show="console.showing && console.requests.length > 0" ng-click="console.requests = []"> - Clear</span>
        <p class="expanded-toggle">{{ console.showing ? 'Hide' : 'Show' }}</p>
      </div>
      <div id="request-list">
        <p ng-repeat="msg in console.requests" class="entry">
          <strong>{{msg.name}}:</strong> <em>{{msg.topic}}</em> <span class="elapsedTime" ng-show="msg.responseTime">{{msg.responseTime - msg.requestTime}}ms</span><span class="elapsedTime" ng-show="msg.eventTime">{{msg.eventTime}}</span>
          <span class="outgoing" ng-show="msg.payload">{{msg.payload}}</span>
          <span class="incoming" ng-show="msg.response">{{msg.response}}</span>
          <span ng-repeat="result in msg.results" class="action-result">{{result}}</span>
        </p>
      </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://unpkg.com/mqtt@5.14.0/dist/mqtt.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>