from pyqttier.lwt import OnlinePresence
from pyqttier.message import Message

def StingerPresence({%for param in utils.get_topic_arguments(config.topics.lwt) %}{{param}}: str,{% endfor %}) -> OnlinePresence:
    """Helper function to create an OnlinePresence instance for StingerIPC clients."""

    def _create_message(is_online: bool) -> Message:
        online_value = "true" if is_online else "false"
        return Message(
            topic=f"{{config.topics.lwt}}",
            payload=f'{"online": {online_value} }.encode("utf-8")',
            qos=1,
            retain=True,
            content_type="application/json",
        )

    return OnlinePresence(
        topic=f"{{config.topics.lwt}}",
        online=_create_message(is_online=True),
        offline=_create_message(is_online=False),
    )
