from pyqttier.lwt import OnlinePresence
from pyqttier.message import Message
import json

def StingerPresence({%for param in utils.get_topic_arguments(config.topics.lwt) %}{{param}}: str,{% endfor %}) -> OnlinePresence:
    """Helper function to create an OnlinePresence instance for StingerIPC clients."""

    def _create_message(is_online: bool) -> Message:
        return Message(
            topic=f"{{config.topics.lwt}}",
            payload=json.dumps({"online": is_online}).encode("utf-8"),
            qos=1,
            retain=True,
            content_type="application/json",
        )

    return OnlinePresence(
        topic=f"{{config.topics.lwt}}",
        online=_create_message(is_online=True),
        offline=_create_message(is_online=False),
    )

def ClientIdCreator({%for param in utils.get_topic_arguments(config.discovery.client_id) %}{{param}}: str,{% endfor %}) -> str:
    """Helper function to generate a client ID string for StingerIPC clients based on the provided topic template parameters."""
    return f"{{config.discovery.client_id}}".format({%for param in utils.get_topic_arguments(config.discovery.client_id) %}{{param}}={{param}}, {% endfor %})
