
#include <iostream>

#include "broker.hpp"
#include "client.hpp"

int main(int argc, char** argv) {

    {%set broker = stinger.get_example_broker()%}
    auto conn = std::make_shared<{{broker.class_name}}>({%if broker.hostname is none%}"localhost", 1883, {%endif%}"{{stinger.name | UpperCamelCase}}Server");
    {{stinger.name | UpperCamelCase}}Client client(conn);

    {%-for sig_name, sig in stinger.signals.items() %}
    client.register{{sig_name | UpperCamelCase}}Callback([]({%for arg in sig.arg_list%}{{arg.cpp_type}} {{arg.name}}{%if not loop.last%}, {%endif%}{%endfor%}) {
        std::cout << {%for arg in sig.arg_list%}"{{arg.name}}=" << {%if arg.arg_type.name.lower() == 'enum'%}static_cast<int>({{arg.name}}){%else%}{{arg.name}}{%endif%} << {%if not loop.last %}" | " << {%endif%}{%endfor%} std::endl;
    });
    {%-endfor%}

    {%-for method_name, method in stinger.methods.items() %}
    
    {%-endfor%}

    std::cout << "Connected and waiting.  Use Ctrl-C to exit." << std::endl;

    while (true) {
        sleep(10);
    }

    return 0;
}