
#include "method_payloads.hpp"
{% import "partials/deserialize.jinja2"  as deser %}
{% import "partials/serialize.jinja2" as ser %}
#include <rapidjson/document.h>
#include <rapidjson/schema.h>
#include <stinger/utils/conversions.hpp>

{#- Emits the definition of a ValidateSchema() method.  The method is always
    generated; fields that declare a JSON schema constraint are checked, and a
    struct with no such fields simply returns true. -#}
{%-macro validate_schema_body(class_name, arg_list)%}
{%-set schema_args = arg_list | selectattr('value_schema') | list%}
bool {{class_name}}::ValidateSchema() const
{
    {%-if schema_args%}
    rapidjson::Document doc;
    doc.SetObject();
    AddToRapidJsonObject(doc, doc.GetAllocator());
    {%-for arg in schema_args%}
    {
        rapidjson::Document schemaDoc;
        if (schemaDoc.Parse(R"stingerschema({{arg.value_schema | tojson}})stingerschema").HasParseError()) {
            return false;
        }
        rapidjson::SchemaDocument schema(schemaDoc);
        rapidjson::SchemaValidator validator(schema);
        auto itr = doc.FindMember("{{arg.name}}");
        if (itr != doc.MemberEnd() && !itr->value.Accept(validator)) {
            return false;
        }
    }
    {%-endfor%}
    {%-endif%}
    return true;
}
{%-endmacro%}

{%for ns in config.cpp.namespace%}
namespace {{ns}} {
{%endfor-%}
namespace {{stinger.name|snake_case}} {

{%for method_name, method in stinger.methods.items()%}
// --- (De-)Serialization for {{method_name}} method request arguments ---
{{method_name | UpperCamelCase}}RequestArguments {{method_name | UpperCamelCase}}RequestArguments::FromRapidJsonObject(const rapidjson::Value& jsonObj)
{
    {{method_name | UpperCamelCase}}RequestArguments {{method.name | lowerCamelCase }}Args;
    {{deser.deserialize((method.name|lowerCamelCase)+"Args", method.arg_list, 'jsonObj') | indent(4)}}

    return {{method.name | lowerCamelCase }}Args;
};

void {{method_name | UpperCamelCase}}RequestArguments::AddToRapidJsonObject(rapidjson::Value& parent, rapidjson::Document::AllocatorType& allocator) const
{
    {%for arg in method.arg_list%}
    {{ser.addToValue('parent', arg, 'allocator') | indent(4)}}
    {%- endfor %}
}
{{ validate_schema_body((method_name | UpperCamelCase) ~ "RequestArguments", method.arg_list) }}

// --- (De-)Serialization for {{method_name}} method return type ---
{{method_name | UpperCamelCase}}ReturnValues {{method_name | UpperCamelCase}}ReturnValues::FromRapidJsonObject(const rapidjson::Value& jsonObj)
{
    {{method_name | UpperCamelCase}}ReturnValues {{method.name | lowerCamelCase }}Rc;
    {{deser.deserialize((method.name|lowerCamelCase)+"Rc", method.return_arg_list, 'jsonObj') | indent(4)}}

    return {{method.name | lowerCamelCase }}Rc;
};

void {{method_name | UpperCamelCase}}ReturnValues::AddToRapidJsonObject(rapidjson::Value& parent, rapidjson::Document::AllocatorType& allocator) const
{
    {%for arg in method.return_arg_list%}
    {{ser.addToValue('parent', arg, 'allocator') | indent(4)}}
    {%- endfor %}
}
{{ validate_schema_body((method_name | UpperCamelCase) ~ "ReturnValues", method.return_arg_list) }}
{% endfor %}

} // namespace {{stinger.name|snake_case}}
{%for ns in config.cpp.namespace|reverse%}
} // namespace {{ns}}
{%endfor-%}