
#include "method_payloads.hpp"
{% import "partials/deserialize.jinja2"  as deser %}
{% import "partials/serialize.jinja2" as ser %}
{% import "partials/validate.jinja2" as val %}
#include <rapidjson/document.h>
#include <rapidjson/schema.h>
#include <stinger/utils/conversions.hpp>

{%for ns in config.cpp.namespace%}
namespace {{ns}} {
{%endfor-%}
namespace {{stinger.name|snake_case}} {

{%for method_name, method in stinger.methods.items()%}
{%- if not method.request_payload.is_protobuf %}
// --- (De-)Serialization for {{method_name}} method request arguments ---
{{method.request_payload.cpp.class_name}} {{method.request_payload.cpp.class_name}}::FromRapidJsonObject(const rapidjson::Value& jsonObj)
{
    {{method.request_payload.cpp.class_name}} {{method.name | lowerCamelCase }}Args;
    {{deser.deserialize((method.name|lowerCamelCase)+"Args", method.arg_list, 'jsonObj') | indent(4)}}

    return {{method.name | lowerCamelCase }}Args;
};

void {{method.request_payload.cpp.class_name}}::AddToRapidJsonObject(rapidjson::Value& parent, rapidjson::Document::AllocatorType& allocator) const
{
    {%for arg in method.arg_list%}
    {{ser.addToValue('parent', arg, 'allocator') | indent(4)}}
    {%- endfor %}
}
{{ val.validate_schema_body((method_name | UpperCamelCase) ~ "RequestArguments", method.arg_list) }}

// --- (De-)Serialization for {{method_name}} method return type ---
{{method.cpp.return_struct_name}} {{method.cpp.return_struct_name}}::FromRapidJsonObject(const rapidjson::Value& jsonObj)
{
    {{method.cpp.return_struct_name}} {{method.name | lowerCamelCase }}Rc;
    {{deser.deserialize((method.name|lowerCamelCase)+"Rc", method.return_arg_list, 'jsonObj') | indent(4)}}

    return {{method.name | lowerCamelCase }}Rc;
};

void {{method.cpp.return_struct_name}}::AddToRapidJsonObject(rapidjson::Value& parent, rapidjson::Document::AllocatorType& allocator) const
{
    {%for arg in method.return_arg_list%}
    {{ser.addToValue('parent', arg, 'allocator') | indent(4)}}
    {%- endfor %}
}
{{ val.validate_schema_body(method.cpp.return_struct_name, method.return_arg_list) }}
{%- endif %}
{% endfor %}

} // namespace {{stinger.name|snake_case}}
{%for ns in config.cpp.namespace|reverse%}
} // namespace {{ns}}
{%endfor-%}