
#include <vector>
#include <boost/format.hpp>
#include <boost/algorithm/string.hpp>
#include <boost/lexical_cast.hpp>
#include <boost/functional/hash.hpp>
#include <rapidjson/stringbuffer.h>
#include <rapidjson/writer.h>
#include <rapidjson/error/en.h>
#include <rapidjson/document.h>

#include "server.hpp"
#include "enums.hpp"
#include "ibrokerconnection.hpp"


constexpr const char {{stinger.name | UpperCamelCase}}Server::NAME[];
constexpr const char {{stinger.name | UpperCamelCase}}Server::INTERFACE_VERSION[];

{{stinger.name | UpperCamelCase}}Server::{{stinger.name | UpperCamelCase}}Server(std::shared_ptr<IBrokerConnection> broker) : _broker(broker) {
    _broker->AddMessageCallback([this](const std::string& topic, const std::string& payload)
    {
        ReceiveMessage(topic, payload);
    });
}

void {{stinger.name | UpperCamelCase}}Server::ReceiveMessage(const std::string& topic, const std::string& payload) {
  
}

{%for sig_name, sig in stinger.signals.items()%}
boost::future<bool> {{stinger.name | UpperCamelCase}}Server::emit{{sig_name | UpperCamelCase}}Signal({%for arg in sig.arg_list%}{{arg.cpp_type}} {{arg.name}}{%if not loop.last%}, {%endif%}{%endfor%}) {
    rapidjson::Document doc;
    doc.SetObject();
    {%for arg in sig.arg_list%}
    {%-if arg.arg_type.name.lower() == 'value'%}
    {%-if arg.type.name.lower() == 'string'%}
    { // restrict scope
        rapidjson::Value tempStringValue;
        tempStringValue.SetString({{arg.name}}.c_str(), {{arg.name}}.size(), doc.GetAllocator());
        doc.AddMember("{{arg.name}}", tempStringValue, doc.GetAllocator());
    }
    {%-else%}
    doc.AddMember("{{arg.name}}", {{arg.name}}, doc.GetAllocator());
    {%-endif%}
    {%elif arg.arg_type.name.lower() == 'enum'%}
    doc.AddMember("{{arg.name}}", static_cast<int>({{arg.name}}), doc.GetAllocator());
    {%-endif-%}
    {%endfor%}
    rapidjson::StringBuffer buf;
    rapidjson::Writer<rapidjson::StringBuffer> writer(buf);
    doc.Accept(writer);
    return _broker->Publish("{{sig.topic}}", buf.GetString(), 1, false);
}
{%endfor%}