{% import "partials/deserialize.jinja2"  as deser %}
#include "structs.hpp"


{%for istruct_name, istruct in stinger.structs.items() %}
{{istruct_name | UpperCamelCase }} {{istruct_name | UpperCamelCase }}::FromRapidJsonObject(const rapidjson::Value& jsonObj)
{
    {{istruct_name | UpperCamelCase }} {{istruct_name | lowerCamelCase }};
    {{deser.deserialize(istruct_name|lowerCamelCase, istruct.members, 'jsonObj') | indent(4)}}

    return {{istruct_name | lowerCamelCase}};
};
{%endfor%}
