{%macro methodParams(arglist)%}
    {%- for arg in arglist -%}
        {{ arg.cpp_type }} {{ arg.name }}{% if not loop.last %}, {% endif %}
    {%- endfor -%}
{%-endmacro%}

{%macro declarationParams(arglist)%}
    {%- for arg in arglist -%}
        {{ arg.cpp_type }}{% if not loop.last %}, {% endif %}
    {%- endfor -%}
{%-endmacro%}