[package]
name = "{{stinger.name | snake_case}}_server"
version = "{{stinger.version}}"
edition = "2024"

[dependencies]
connection = { path = "../connection" }
futures = "0.3"
json = "0.12.4"
paho-mqtt = "0.13.3"

[[example]]
name = "{{stinger.name | snake_case}}_server_example"
path = "examples/server.rs"